body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #658b6f;
    width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4cqmin;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
}
.card img {
    margin-top: 10px;
    width: 150px;
    height: 150px;
    border-radius: 5px;
}
.card a {
    font-size: 30px;
    font-weight: bold;
    color: rgb(243, 243, 243);
    text-shadow: 1ch;
    text-decoration: none;
}
.card h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: italic;
}

.card h3 {
    text-decoration: underline;
    font-size: 22px;
}

.card p {
    margin: 15px 0;
    text-align: left;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 15px 20px;
    color: white;
    gap: 10px;
}

#red {
    border-radius: 5px;
    background-color: rgb(197, 24, 30);
    cursor: pointer;
    
}
#blue {
    border-radius: 5px;
    background-color: blue;
    cursor: pointer;
}
#grey {
    border-radius: 5px;
    background-color: grey;
    cursor: pointer;
}